<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Future Data Scientist Portfolio</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="static/images/favicon.ico">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/images/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm Arjun.</h1>
      <h2>a <span class="pro">data</span> scientist.</h2>
    </div>
    <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud">
    <img class="mountain" src="static/images/mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img class="profile-picture" src="static/images/ProfilePhoto.jpg" alt="arjun-profile-img">
      <h2>Welcome.</h2>
      <p class="intro">I am a Data Scientist passionate about turning data into actionable insights. I specialize in machine learning, data visualization, and statistical modeling.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Expertise.</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/f3iwJFOVOwuy7K6FFw/giphy.gif" alt="code-img">

        <h3>Data Analysis & Machine Learning</h3>
        <p>I have years of experience building predictive models, analyzing large datasets, and implementing machine learning algorithms to solve complex problems.</p>

      </div>
      <div class="skill-row">
        <img class="chilli-img" src="static/images/graph.gif" alt="graphs-img">

        <h3>Data Visualization</h3>
        <p>Creating clear and compelling visualizations is my superpower. I bring data stories to life using tools like Python, Tableau, and D3.js.</p>

      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Contact Me</h2>
      <h3>Let’s discuss data-driven solutions.</h3>
      <p class="contact-message">Interested in leveraging data to transform your business? Reach out, and let’s collaborate on innovative projects!</p>
      <a class="btn" href="mailto:arjunpathania786f@gmail.com.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="www.linkedin.com/in/arjun-pathania-6a9998157">LinkedIn</a>
    <a class="footer-link" href="https://github.com/ArjunPathania">GitHub</a>
    <a class="footer-link" href="https://x.com/Arjun18Pathania">Twitter</a>
    <p class="copyright">© 2024 Arjun | Data Science Enthusiast.</p>
  </div>
</body>

</html>